*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgcolor{
    background-color: #FFD845;
}
.select{
    padding: 0px 80px;
    width: 260px;
    height: 60px;
    border: 2px solid black;
    background: white;
    border-radius: 15px;
}
.search{
    padding: 10px 18px;
    width: 300px;
    height: 60px;
    border: 2px solid black;
    background: white;
    border-radius: 15px;
}
.button{
    padding: 10px 18px;
    width: 200px;
    height: 60px;
    border: 2px solid black;
    background: white;
    border-radius: 15px;
}
.liked{
    cursor: pointer;
}
.card_height{
    height: 430px!important;
}
.card_images{
    height: 261px;
}

.likedbg{
    display: flex;
    justify-content: end;
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    transition: 1s;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.likedpage{
    width: 400px;
    max-height: 100%;
    overflow: auto;
    background-color: #FFEDA9;
    border: 1px solid black;
}
.closes{
    background-color: #FFEDA9;

}
.search::placeholder{
    color: black!important;
}
.pakemon_card_btn{
    cursor: pointer;
}
